﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.approved {
    background-color: green;
}

.rejected {
    background-color: red;
}

.modal-dialog.modal-800 {
    width: 800px;
    margin: 30px auto;
}

.datepicker {
    z-index: 1151 !important;
}

.clsDatePicker {
    z-index: 100000;
}
