﻿@model IEnumerable<storktruck.Models.Partner>

@{
    ViewBag.Title = "Parceiros";
}
<p>


</p>
<p>
    @Html.ActionLink("Novo Registro", "Create", new { }, new { @class = "btn-primary btn-sm" }) &nbsp;
    @*@Html.ActionLink("Imprimir", "ReportForm", new { }, new { @class = "btn-warning btn-sm" })*@
</p>
<table id="table1" class="table table-bordered table-condensed table-striped table-hover table-responsive" style="width:100%">
    <thead>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialNumberJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neighborhood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialNumberJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Logo))
                {
                    <img src="@Url.Content(item.Logo)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.storktruckId },
                    new
                    {
                        @class = "btn btn-warning btn-sm glyphicon glyphicon-edit",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Editar Registro"
                    })
                @Html.ActionLink(" ", "Details", new { id = item.storktruckId },
                    new
                    {
                        @class = "btn btn-info btn-sm glyphicon glyphicon-th-list",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Detalhes do Registro"
                    })
                @Html.ActionLink(" ", "Delete", new { id = item.storktruckId },
                    new
                    {
                        @class = "btn btn-danger btn-sm glyphicon glyphicon-trash",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Excluir o Registro"
                    })
            </td>
        </tr>
}
    </tbody>
</table>
