﻿@model IEnumerable<storktruck.Models.User>

@{
    ViewBag.Title = "Index";
}
<p>


</p>
<p>
    @*@Html.ActionLink("Novo Registro", "Create", new { }, new { @class = "btn-primary btn-sm" }) &nbsp;
    @Html.ActionLink("Imprimir", "ReportForm", new { }, new { @class = "btn-warning btn-sm" })*@
</p>
<table id="table1" class="table table-bordered table-condensed table-striped table-hover table-responsive" style="width:100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialNumberF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialNumberF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Photo))
                {
                    <img src="@Url.Content(item.Photo)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.UserId },
                    new
                    {
                        @class = "btn btn-warning btn-sm glyphicon glyphicon-edit",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Editar Registro"
                    })
                @Html.ActionLink(" ", "Details", new { id = item.UserId },
                    new
                    {
                        @class = "btn btn-info btn-sm glyphicon glyphicon-th-list",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Detalhes do Registro"
                    })
                @Html.ActionLink(" ", "Delete", new { id = item.UserId },
                    new
                    {
                        @class = "btn btn-danger btn-sm glyphicon glyphicon-trash",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Excluir o Registro"
                    })
            </td>
        </tr>
}
    </tbody>
</table>
