﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Transporte de Veículos </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .clsDatePicker {
            z-index: 10000 !important; /* has to be larger than 1050 */
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TransCar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("País", "Index", "Country")</li>
                                <li>@Html.ActionLink("Estados", "Index", "State")</li>
                                <li>@Html.ActionLink("Cidades", "Index", "City")</li>
                                <li>@Html.ActionLink("Empresa", "Index", "Company")</li>
                                <li>@Html.ActionLink("Usuários", "Index", "User")</li>
                                <li>@Html.ActionLink("Parceiros", "Index", "Partner")</li>
                                <li>@Html.ActionLink("Marca", "Index", "Brand")</li>
                                <li>@Html.ActionLink("Modelos", "Index", "Model")</li>
                                <li>@Html.ActionLink("Versão", "Index", "Version")</li>
                            </ul>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Processos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cartões", "Index", "Card")</li>
                                <li>@Html.ActionLink("Contratos", "Index", "Contract")</li>
                            </ul>
                        </li>*@
                        <li>@Html.ActionLink("Novo Usuário", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Processos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @*<li>@Html.ActionLink("Consultar Associado", "EntryCPF", "AssociateView")</li>
                                <li>@Html.ActionLink("Consumo", "Index", "Consumption")</li>*@
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - C A de ARAUJO Consultoria</p>
        </footer>
    </div>

    <div class="modal fade" id="CardActivate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Ativar Cartão</h2>
                </div>
                <div class="modal-body">
                    <div class="te">Aguarde ...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ContractActivate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-800">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Ativar Contrato</h2>
                </div>
                <div class="modal-body">
                    <div class="te">Aguarde ...</div>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:1250px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel"> <span class="glyphicon glyphicon-search"></span> Detalhes </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> <!-- MODEL HEADER-->
                    <div class="modal-body">
                    </div> <!-- MODAL BODY-->
                </div>
            </div>
        </div>

        <div class="modal fade" id="BenefitsByContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:1250px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> Benefícios por Contrato </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> <!-- MODEL HEADER-->
                    <div class="modal-body">
                    </div> <!-- MODAL BODY-->
                </div>
            </div>
        </div>

        <div class="modal fade" id="Benefits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
             aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title">Adicionar Benefício</h2>
                    </div>
                    <div class="modal-body">
                        <div class="te">Aguarde ...</div>
                    </div>
                </div>
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Mascaras")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        $("CardActivate").on("click", "a.dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var title = $link.text();
            $('#CardActivate .modal-title').html(title);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#CardActivate').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#CardActivate .te').html(data);
                    $('#CardActivate').modal();
                }).done(function () {
                    $('input:text:visible:first').focus();
                });
            }
        });

        function myFunction() {

            var x = document.activeElement.selectedOptions[0].label

            var associateId = String.valueOf(x);

            if (x != "") {
                $.ajax({
                    url: '/Card/ActiveCard/',
                    method: 'post',
                    data: {
                        associateId: x
                    },
                    dataType: 'json',
                    success: function (data) {
                        var divElement = $('#divOutPut');

                        if (data.CardInUse) {
                            divElement.text("Associado já possui um cartão ativo.");
                            divElement.css('color', 'red');
                            var $submit = $('input[type="submit"]');
                            $submit.prop('disabled', true);
                        }
                        else {
                            divElement.text("");
                            var $submit = $('input[type="submit"]');
                            $submit.prop('disabled', false);
                        }
                    },
                    error: function (err) { }
                });
            }
        }

        function BenefitAlreadyAssociatedToContract() {

            var x = document.activeElement.selectedOptions[0].label

            var benefitId = String.valueOf(x);

            if (x != "") {
                $.ajax({
                    url: "/triade/Contract/ActiveBenefit/",
                    method: 'post',
                    data: {
                        benefitId: x
                    },
                    dataType: 'json',
                    success: function (data) {
                        var divElement = $('#divOutPut');

                        if (data.BenefitAlreadyAssociated) {
                            divElement.text("Benefício já associado a este contrato.");
                            divElement.css('color', 'red');
                            var $submit = $('input[type="submit"]');
                            $submit.prop('disabled', true);
                        }
                        else {
                            divElement.text("");
                            var $submit = $('input[type="submit"]');
                            $submit.prop('disabled', false);
                        }
                    },
                    error: function (err) { }
                });
            }
        }

        $("#ContractActivate").on("click", "a.dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var title = $link.text();
            $('#ContractActivate .modal-title').html(title);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#ContractActivate').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#ContractActivate .te').html(data);
                    $('#ContractActivate').modal();
                }).done(function () { $('input:text:visible:first').focus(); });
            }
        });

        $("body").on("click", "a.dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var title = $link.text();
            $('#Benefits .modal-title').html(title);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#Benefits').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#Benefits .te').html(data);
                    $('#Benefits').modal();
                }).done(function () {
                    $('input:text:visible:first').focus();
                });
            }
        });

        $("#StateId").change(function () {
            $("#CityId").empty();
            $("#CityId").append('<option value="0">[Selecione uma cidade ...]</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCities", "Generic")',
                dataType: 'json',
                data: { stateId: $("#StateId").val() },
                success: function (cities) {
                    $.each(cities, function (i, city) {
                        $("#CityId").append('<option value="'
                            + city.CityId + '">'
                            + city.Name + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Falha na recuperação das cidades.' + ex);
                }
            });
            return false;
        });

        var table = $('#table1').DataTable({
            dom: "<lf<t>ip>",
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "select": {
                    style: 'single',
                    "rows": {
                        "_": "Foram selecionados %d registros",
                        "0": "",
                        "1": "1 registro selecionado"
                    },
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            select: {
                style: 'single',
            },
            "order": [[0, 'asc']]
        });

        $(function () {
            $('.datetimepicker').datetimepicker({ format: 'DD/MM/YYYY' });
        });

        $(".datepicker").datepicker(
            {           
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Proximo',
                prevText: 'Anterior',
                beforeShow: function () {
                    setTimeout(function () {
                        $('.ui-datepicker').css('z-index', 99999);
                    }, 0);
                }
            }).css("display", "inline-block")
            .next("button").button(
                {
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });

            var currentDate = new Date();
             $(".datepicker").datepicker("setDate", currentDate);
            

            var oTable;
            $('#master tbody td img').on('click', function () {
                var nTr = this.parentNode.parentNode;
                if (this.src.match('details_close')) {
                    /* This row is already open - close it */
                    this.src = "/Content/images/details_open.png";
                    oTable.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    this.src = "/Content/images/details_close.png";
                    var cardId = $(this).attr("rel");
                    $.get("/triade/Card/GetCardHistory/" + cardId, function (detalhe) {
                        oTable.fnOpen(nTr, detalhe, 'details');
                    });
                }
            });


            /* Initialize table and make first column non-sortable*/
            oTable = $('#master').dataTable({
                "bJQueryUI": true,
                dom: "<lf<t>ip>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                select: true,
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "select": {
                        style: 'single',
                        "rows": {
                            "_": "Foram selecionados %d registros",
                            "0": "",
                            "1": "1 registro selecionado"
                        },
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                select: {
                    style: 'single',
                },
                "order": [[1, 'asc']]
            });

            var oTable1;
            $('#master1 tbody td img').on('click', function () {
                var nTr = this.parentNode.parentNode;
                if (this.src.match('details_close')) {
                    /* This row is already open - close it */
                    this.src = "/Content/images/details_open.png";
                    oTable1.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    this.src = "/Content/images/details_close.png";
                    var contractId = $(this).attr("rel");
                    $.get("/triade/Contract/GetContractHistory/" + contractId, function (detalhe1) {
                        oTable1.fnOpen(nTr, detalhe1, 'details');
                    });
                }
            });


            /* Initialize table and make first column non-sortable*/
            oTable1 = $('#master1').dataTable({
                "bJQueryUI": true,
                dom: "<lf<t>ip>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                select: true,
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "select": {
                        style: 'single',
                        "rows": {
                            "_": "Foram selecionados %d registros",
                            "0": "",
                            "1": "1 registro selecionado"
                        },
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                select: {
                    style: 'single',
                },
                "order": [[1, 'asc']]
            });


            $('#tabelaModal').DataTable({
                dom: "<lf<t>ip>",
                "lengthMenu": [[8, 25, 50, -1], [8, 25, 50, "Todos"]],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "order": [[0, 'asc']]
            });

            $('#tbmodal').DataTable({
                dom: "<lf<t>ip>",
                "lengthMenu": [[8, 25, 50, -1], [8, 25, 50, "Todos"]],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "order": [[0, 'asc']]
            });

            //View Benefits By Contract
            $(" ").on("click", "a.dialog-window", null, function (e) {

                $(".modal-body").html('');
                var title = $link.text();
                $('#BenefitsByContract .modal-title').html(title);
                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetBenefitByContract", "Contract")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#BenefitsByContract").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //View Associates Button
            $(".viewAssociates").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetAssociates", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //View storktrucks Button
            $(".viewstorktrucks").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetPartners", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //View Cards Button
            $(".viewCards").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetCards", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //View Contracts Button
            $(".viewContracts").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetContracts", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //View Inactive Cards Button
            $(".viewInactiveCards").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetInactiveCards", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //View Contracts Button
            $(".viewInactiveContracts").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetInactiveContracts", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

    </script>
</body>
</html>
