﻿@{
    ViewBag.Title = "Esqueceu Senha. Confirmação.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>        
        Cheque seu e-mail para reiniciar sua senha.
    </p>
</div>
	
