﻿@{
    ViewBag.Title = "Reiniciar senha. Confirmação.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi re-iniciada. Por Favor @Html.ActionLink("clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
