﻿@model IEnumerable<storktruck.Models.State>

@{
    ViewBag.Title = "Index";
}
<p>


</p>
<p>
    @Html.ActionLink("Novo Registro", "Create", new { }, new { @class = "btn-primary btn-sm" }) &nbsp;
    @*@Html.ActionLink("Imprimir", "ReportForm", new { }, new { @class = "btn-warning btn-sm" })*@
</p>
<table id="table1" class="table table-bordered table-condensed table-striped table-hover table-responsive" style="width:100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initials)
        </th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initials)
        </td>
        <td>
			@Html.ActionLink(" ", "Edit", new { id = item.StateId },
                new
                {
                    @class = "btn btn-warning btn-sm glyphicon glyphicon-edit",
                    data_toggle = "tooltip",
                    data_placement = "top",
                    title = "Editar Registro"
                })
            @Html.ActionLink(" ", "Details", new { id = item.StateId },
                new
                {
                    @class = "btn btn-info btn-sm glyphicon glyphicon-th-list",
                    data_toggle = "tooltip",
                    data_placement = "top",
                    title = "Detalhes do Registro"
                })
            @Html.ActionLink(" ", "Delete", new { id = item.StateId },
                new
                {
                    @class = "btn btn-danger btn-sm glyphicon glyphicon-trash",
                    data_toggle = "tooltip",
                    data_placement = "top",
                    title = "Excluir o Registro"
                })
        </td>
    </tr>
}
    </tbody>
</table>
