﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Erro.</h1>
        <h2 class="text-danger">Ocorreu um erro ao processar sua solicitação</h2>
    </hgroup>
</body>
</html>
